.button {
  padding: 10px 0;

  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;

  border: none;
  background-color: #68b738;
  color: #ffffff;
  cursor: pointer;
}
