@mixin font-face($font-family, $font-weight, $font-src) {
  @font-face {
    font-family: $font-family;
    font-weight: $font-weight;
    font-style: normal;
    src: $font-src;
    font-display: swap;
  }
}

@mixin events-opacity ($hov,$act) {
  transition: opacity linear 50ms;

  &:focus-visible {
    outline: none;
  }

  &:focus-visible,
  &:hover {
    opacity: $hov;
  }

  &:active {
    opacity: $act;
  }
}

@mixin image-slider-toggle-event($hover-color,$active-opacity) {
  @media (hover: hover) {
    &:hover {
      color: $hover-color;
      border: 2px solid $hover-color;

      & ~ .slider-toggle__stick {
        &::before,
        &::after {
          background-color: $hover-color;
        }
      }
    }
  }

  &:active {
    cursor: grabbing;
    opacity: $active-opacity;

    & ~ .slider-toggle__stick {
      opacity: $active-opacity;
    }
  }
}
