@mixin font-face($font-family, $font-weight, $font-src) {
  @font-face {
    font-family: $font-family;
    font-weight: $font-weight;
    font-style: normal;
    src: $font-src;
    font-display: swap;
  }
}
// тоже разобраться
@mixin basik-title() {
  margin: 0;

  font-family: $seccond-font;
  font-size: 36px;
  line-height: 40px;
  text-transform: uppercase;
  color: #000000;
}
