.promotion-title {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  min-height: 86px;
  column-gap: 40px;
  padding: 0 0 32px;
  margin: 0;

  font-family: $seccond-font;
  font-size: 24px;
  line-height: 24px;
  color: #000000;
  // Надо ли пускать до самого небалуй
  @media ($viewport-tablet) {
    padding: 0;
    padding-bottom: 80px;

    font-size: 32px;
    line-height: 32px;
    min-height: 112px;

    &::before {
      content: "";
      display: flex;
      height: 2px;
      width: 30px;

      background-color: #68b738;
      // Переиграть. попбробовать с позициями. пока оставть
    }
  }

  @media ($viewport-desktop) {
    font-size: 40px;
    line-height: 40px;

    &::before {
      width: 70px;
    }
  }

  &::after {
    content: "";
    display: flex;
    height: 2px;
    background-color: #68b738;
    // min-width: 100vw;
    flex-grow: 1;
  }
}
