/* здесь используйте глобальные переменные */
$seccond-font: "Oswald", sans-serif;
$viewport-tablet: "min-width: 768px";
$viewport-desktop: "min-width: 1300px";
/* цвет интерактивных элементов при наведении */
$hover-event-color: #68b738;
/* максимальная ширина окна */
$max-viewport-width: 1220px;
