/* GLOBAL */
@import "./common/variables.scss";
@import "./common/visually-hidden.scss";
@import "./common/mixins.scss";
@import "./common/fonts.scss";
@import "./common/global.scss";
/* Отдельные блоки */
@import "./common/promotion-title.scss";
@import "./common/button.scss";
/* BLOCKS */
@import "./blocks/page.scss";
/* хеадер */
@import "./blocks/main-header.scss";
@import "./blocks/page-header.scss";
/* hero */
@import "./blocks/navigation.scss";
@import "./blocks/hero.scss";
/* Цели */
@import "./blocks/goals.scss";
@import "./blocks/goals-item.scss";
/* Шаги */
@import "./blocks/result.scss";
@import "./blocks/step-list.scss";
/* Живой пример */
@import "./blocks/example.scss";
@import "./blocks/expenses.scss";
@import "./blocks/cats-slider.scss";
@import "./blocks/slider-toggle.scss";
/* Как нас найти */
@import "./blocks/location-description.scss";
/* Каталог */
@import "./blocks/catalog.scss";
@import "./blocks/product-card.scss";
@import "./blocks/more-card.scss";
/* Дополнительные товары */
@import "./blocks/additional-products.scss";
@import "./blocks/additional-product.scss";
@import "./blocks/promotion.scss";
/* Подписаться */
@import "./blocks/subscribe.scss";
/* Как добраться */
@import "./blocks/location-guide.scss";
/* Футер */
@import "./blocks/page-footer.scss";
@import "./blocks/social-list.scss";
@import "./blocks/copyright.scss";
