.additional-products {
  padding: 0 20px;

  @media ($viewport-tablet) {
    padding: 0 30px;
  }

  @media ($viewport-desktop) {
    padding: 0 110px;
  }
}

.additional-products__title {
  @include catalog__title;
}

.additional-products__wrapper {
  @media ($viewport-desktop) {
    display: flex;
  }
}

.additional-products__cards-list {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;

  list-style-type: none;
}
