.additional-products {
  position: relative;

  @media ($viewport-tablet) {
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 80px;
  }

  // @media ($viewport-desktop) {
  //   padding: 0;
  //   display: flex;
  //   flex-direction: column;
  //   gap: 80px;
  // }
}


.additional-products__title {
  padding: 25px 0 34px;

  @media ($viewport-tablet) {
    padding: 0;
  }
}

.additional-products__wrapper {
  padding: 0 20px;

  @media ($viewport-tablet) {
    padding: 0 30px;
  }

  @media ($viewport-desktop) {
    align-self: center;
    width: clamp(1220px, 100vw, $max-viewport-width);
    box-sizing: border-box;

    padding: 0;
    display: flex;
    column-gap: 80px;
  }
}

.additional-products__cards-list {
  padding: 0;
  padding-bottom: 35px;
  margin: 0;
  display: flex;
  flex-direction: column;

  list-style-type: none;

  @media ($viewport-tablet) {
    padding: 0 0 69px;
  }

  @media ($viewport-desktop) {
    padding-bottom: 0;
    flex-grow: 1;
  }
}

.additional-products__cards-item {
  box-sizing: border-box;
  border-top: 1px solid #cdcdcd;
  min-height: 129px;

  @media ($viewport-tablet) {
    // min-height: 139px;
  }

  @media ($viewport-desktop) {
    min-height: unset;
  }

  &:last-child {
    border-bottom: 1px solid #cdcdcd;
  }
}

