.footer {
  display: flex;
  flex-direction: column;

  background-color: #f2f2f2;
}

.footer__wrapper {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 240px;
  padding: 40px 20px;

  background-color: #f2f2f2;

  @media ($viewport-tablet) {
    flex-direction: row;
    min-height: 147px;
  }

  @media ($viewport-desktop) {
    min-height: 169px;
    width: clamp(768px, 100vw, calc($max-viewport-width + 20px));
    padding: 0;
    align-self: center;
  }
}

.footer__logo-link {
  padding-bottom: 15px;

  @media ($viewport-tablet) {
    padding: 10px;
    margin-right: 35px;
  }
}

.footer__logo {
  color: #111111;
  fill: currentColor;

  &:hover {
    color: #3e3e3e;
  }

  &:active {
    color: #6b6b6b;
  }
}

.footer__social-list {
  width: 100%;

  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;

  @media ($viewport-tablet) {
    border: none;
  }
}

.footer__copyright {
  padding-top: 20px;

  @media ($viewport-tablet) {
    padding: 10px;
  }
}
