.form {
  display: flex;
  flex-direction: column;
}


.form__button-container {
  display: flex;
  flex-direction: column;
  padding: 0 20px;
  gap: 9px;

  @media ($viewport-tablet) {
    padding: 0 70px;
    gap: 60px;
    flex-direction: row;
    // justify-content: center;
  }

  @media ($viewport-desktop) {
    padding: 0;
    width: clamp(768px, 100vw, $max-viewport-width);
    align-self: center;
    justify-content: flex-start;
    gap: 80px;
  }
}

.form__footnote {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 40px;
  line-height: 16px;
  color: #000000;

  @media ($viewport-tablet) {
    font-size: 16px;
    line-height: 16px;
  }

  // @media ($viewport-desktop) {
  //   flex-grow: 1;
  // }
}

.form__button {
  @media ($viewport-tablet) {
    font-size: 20px;
    line-height: 26px;
    padding: 14px 65px;
  }

  @media ($viewport-desktop) {
    flex-grow: 1;
    max-width: 570px;
  }
}
