.goals {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 0 20px;

  @media ($viewport-tablet) {
    padding: 0 30px;
  }

  @media ($viewport-desktop) {
    flex-direction: row;
    gap: 80px;
    padding: 82px 110px 71px;
  }
}
