.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  padding: 27px 20px 0;

  background-image:
    url("../../images/mobile-main-background@1x.png"),
    linear-gradient(to bottom, #62a63a 302px, transparent 302px 100%);
  background-size: 320px 302px, 100% 100%;
  background-position: center top 0;
  background-repeat: no-repeat;
  // Линеар отдельно
  @media (min-resolution: 2dppx) {
    background-image:
      url("../../images/mobile-main-background@2x.png"),
      linear-gradient(to bottom, #62a63a 302px, transparent 302px 100%);
  }

  @media ($viewport-tablet) {
    align-items: start;
    min-height: 875px;
    padding: 65px 30px 0 130px;
    background-image: none;
  }

  @media ($viewport-desktop) {
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: start;
    // ?
    padding-left: 13.2%;
    // поиграть
    min-height: 501px;
  }
}

.hero__title {
  padding: 0;
  margin: 0;
  min-height: 97px;

  font-family: $seccond-font;
  font-size: 36px;
  line-height: 36px;
  text-align: center;
  color: #ffffff;

  @media ($viewport-tablet) {
    margin-bottom: 40px;

    font-size: 60px;
    line-height: 60px;
    color: #000000;
    text-align: left;
  }
}

.hero__description {
  margin: 0;
  padding: 0;
  min-height: 43px;

  font-family: $seccond-font;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  color: #ffffff;

  @media ($viewport-tablet) {
    min-height: 70px;
    font-size: 20px;
    line-height: 20px;

    color: #000000;
  }
}

.hero__image-container {
  margin-bottom: 3px;

  @media ($viewport-tablet) {
    margin-bottom: 0;
    position: absolute;
    left: 30px;
    top: 341px;
    z-index: -1;
  }

  @media ($viewport-desktop) {
    top: 0;
    left: 557px;
    bottom: 52px;
    z-index: 1;
  }
}

.hero__button {
  width: 100%;
  text-decoration: none;

  @media ($viewport-tablet) {
    font-size: 20px;
    line-height: 26px;
    padding: 14px 0;

    width: 244px;
  }
}
