.location-description__title {
  font-family: $seccond-font;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #111111;
}

.location-description__adress {
  font-size: 14px;
  line-height: 20px;
  font-style: normal;
}
