.main-header {
  // flex-shrink: 0;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;

  @media ($viewport-tablet) {
    background-image: none;
  }

  @media ($viewport-desktop) {
    min-height: 694px;
    background-position: right 50%;
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-image:
      url("../../images/desktop-main-background@1x.webp"),
      linear-gradient(to right, #ffffff 50%, #64a83b 50%);
  }

  @media ($viewport-desktop) and (min-resolution: 2dppx) {
    background-image:
      url("../../images/desktop-main-background@1x.webp"),
      linear-gradient(to right, #ffffff 50%, #64a83b 50%);
  }
}
