.main-goals {
  display: flex;
  flex-direction: column;
  gap: 20px;

  @media ($viewport-tablet) {
    padding: 0 20px;
  }

  @media ($viewport-desktop) {
    flex-direction: row;
    gap: 5.56vw;
    padding: 0 110px;
  }
}
