.more-card {
  box-sizing: border-box;
  list-style: none;
  padding: 25px 20px 24px;
  display: flex;
  flex-direction: column;
  gap: 21px;

  @media ($viewport-tablet) {
    padding: 50px 37px 40px;
    border: 1px solid #cdcdcd;
    flex-grow: 1;
    justify-content: space-between;
  }

  @media ($viewport-tablet) {
    // row-gap: 90px;
  }
}

.more-card li:nth-child(1) {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  row-gap: 8px;
  width: 78.21%;
  min-height: 97px;
  align-self: center;
  background-image: url("../../icons/plus.svg");
  background-repeat: no-repeat;
  background-size: 30px 30px;
  background-position: center top 0;

  @media ($viewport-tablet) {
    // оптимизировать
    width: 170px;
    background-size: 60px 60px;
    min-height: 217px;
    row-gap: 23px;
  }

  @media ($viewport-desktop) {
    // оптимизировать
    background-size: 60px 60px;
    min-height: 210px;
    row-gap: 26px;
  }
}

.more-card__title {
  font-family: $seccond-font;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #111111;
  // padding: 0 18px;

  @media ($viewport-tablet) {
    font-size: 20px;
    line-height: 24px;
  }
}

.more-card__description {
  display: flex;
  flex-direction: column;
  padding: 0;

  font-size: 12px;
  line-height: 16px;
  text-align: center;

  @media ($viewport-tablet) {
    font-size: 16px;
    line-height: 18px;
  }
}
// переписать на баттоны миксины
.more-card__button {
  font-family: $seccond-font;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;

  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  color: #444444;
  background-color: #f2f2f2;
  padding: 10px 0;
  border: none;
  width: 100%;
  cursor: pointer;

  &:focus-visible {
    outline: none;
    background-color: #ebebeb;
  }

  &:hover {
    background-color: #ebebeb;
  }

  &:active {
    opacity: 0.6;
  }
}
