.navigation {
  @media ($viewport-tablet) {
    display: block;
  }
}

.navigation__list {
  flex-direction: column;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;

  background-color: #ffffff;

  @media ($viewport-tablet) {
    display: flex;
    flex-flow: row wrap;
    justify-content: end;
    margin: 0;
    padding-top: 2px;
    gap: 20px 15px;
    background-color: transparent;
  }

  @media ($viewport-desktop) {
    color: #000000;
    padding-top: 5px;
  }
}

.navigation__item {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 67px;

  border-top: 1px solid #e6e6e6;

  &:last-child {
    border-bottom: 1px solid #e6e6e6;

    @media ($viewport-tablet) {
      border: none;
    }
  }

  @media ($viewport-tablet) {
    box-sizing: content-box;
    border: none;
    height: unset;
  }
}

.navigation__list--index-font-color {
  @media ($viewport-tablet) {
    color: #ffffff;
  }
}

.navigation__link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;

  font-family: $seccond-font;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;

  color: #000000;

  @media ($viewport-tablet) {
    @include events-opacity(0.6,0.3);
    padding: 10px;

    font-size: 18px;
    line-height: 24px;
  }

  @media ($viewport-desktop) {
    font-size: 20px;
    line-height: 30px;

    color: inherit;
  }
}

.navigation__link--current {
  @media ($viewport-tablet) {
    text-decoration: underline;
    text-decoration-color: #68b738;
    text-underline-offset: 10px;
    text-decoration-thickness: 2px;

    pointer-events: none;
  }

  @media ($viewport-desktop) {
    text-underline-offset: 11px;
  }
}

.navigation__link--current[href="index.html"] {
  @media ($viewport-desktop) {
    text-decoration-color: #ffffff;
  }
}
