.page-footer {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  min-height: 240px;
  padding: 40px 20px;
  justify-content: space-between;
  align-items: center;

  background-color: #f2f2f2;

  @media ($viewport-tablet) {
    flex-direction: row;
    min-height: 147px;
  }

  @media ($viewport-desktop) {
    min-height: 169px;
  }
}

.page-footer__logo-link {
  padding-bottom: 20px;

  @media ($viewport-tablet) {
    padding: 0;
  }
}

.page-footer__logo {
  color: #111111;
  fill: currentColor;

  &:hover {
    color: #3e3e3e;
  }

  &:active {
    color: #6b6b6b;
  }
}

.page-footer__social-list {
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;

  @media ($viewport-tablet) {
    border: none;
  }
}

.page-footer__copyright {
  padding-top: 20px;

  @media ($viewport-tablet) {
    padding: 0;
  }
}
