.page-header {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  align-items: center;
  min-height: 65px;
  padding: 13px 20px 14px;
  flex-wrap: wrap;

  @media ($viewport-tablet) {
    padding: 25px 34px 0 30px;
    min-height: 75px;
  }

  @media ($viewport-desktop) {
    width: clamp(1220px, 100vw, $max-viewport-width);
    min-height: 114px;
    padding: 55px 0 0;
    align-self: center;
    // width: minmax(1220px, 1440px);
  }
}
// Обрати внимание
.page-header_nav {
  display: none;
  width: 100%;
  position: absolute;
  top: 65px;
  left: 0;

  @media ($viewport-tablet) {
    width: unset;
    position: static;
  }
}

.page-header_nav--state-open {
  display: block;
  // подумай про анимация вылетающих
}

.page-header__logo-link {
  display: flex;
  align-items: center;
  text-decoration: none;

  @media ($viewport-tablet) {
    gap: 13px;
  }

  @include events-opacity (0.8, 0.6 );
}

.page-header__logo-text {
  @media (max-width: 500px) {
    position: absolute;
    left: 50%;
    top: 23px;
    transform: translate(-50%);
  }
}

.page-header__nav-toggle {
  display: block;
  width: 24px;
  height: 24px;
  padding: 0;

  border: none;

  background-color: #ffffff;
  background-repeat: no-repeat;
  background-position: 50% 50%;

  cursor: pointer;

  @media ($viewport-tablet) {
    display: none;
  }
}

.page-header__nav-toggle--burger {
  background-image: url("../../icons/mobile-toggle.svg");
}

.page-header__nav-toggle--cross {
  background-image: url("../../icons/cross.svg");
}
