.product-card {
  padding: 20px 20px 24px;
  margin: 0;
  list-style: none;
  // Переписать на флексы
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  box-sizing: border-box;

  @media ($viewport-tablet) {
    padding: 10px 37px 40px;
    display: flex;
    flex-direction: column;
    min-height: 511px;

    background-image: linear-gradient(to bottom, transparent 15.85%, #f2f2f2 15.85% 100%);
  }

  @media ($viewport-desktop) {
    min-height: unset;
    padding: 10px 38px 40px;
  }
}

// .product-card__image-link {
//   display: flex;
//   align-self: center;
//   justify-content: center;
// }

.product-card__title {
  margin: 0;
  text-align: left;

  @media ($viewport-tablet) {
    text-align: center;
    padding: 0 50px;
  }

  @media ($viewport-desktop) {
    text-align: center;
    padding: 0;
  }
}

.product-card__title-link {
  align-self: flex-start;
  justify-content: start;

  font-family: $seccond-font;
  font-size: 16px;
  line-height: 20px;

  text-decoration: none;
  text-transform: uppercase;
  color: #222222;


  @media ($viewport-tablet) {
    font-size: 20px;
    line-height: 24px;
    text-align: center;
  }
}

.product-card__price,
.product-card__description,
.product-card__weight {
  display: flex;
  justify-content: space-between;

  font-size: 12px;
  line-height: 16px;
  // text-align: center;

  @media ($viewport-tablet) {
    padding-top: 7px;
    font-size: 16px;
    line-height: 20px;
    min-height: 32px;
    box-sizing: border-box;

    border-bottom: 1px solid #cdcdcd;
  }
}

/* Имэдж */
.product-card li:nth-child(1) {
  box-sizing: border-box;
  grid-row: 1/5;
  grid-column: 1/2;
  min-height: 107px;
  display: flex;
  align-items: center;
  justify-content: center;

  @media ($viewport-tablet) {
    align-items: flex-start;
    min-height: 232px;
  }

  @media ($viewport-desktop) {
    min-height: unset;
  }
}
/* Title */
.product-card li:nth-child(2) {
  min-height: 55px;
  padding-right: 64px;
  grid-row: 1/2;
  grid-column: 2/3;
  box-sizing: border-box;

  @media ($viewport-tablet) {
    min-height: 61px;

    align-self: center;
    padding: 0;
  }

  @media ($viewport-desktop) {
    min-height: 78px;
    padding: 12px 14px 0 15px;
  }
}

.product-card__weight {
  grid-column: 2/3;
}

.product-card__description {
  grid-column: 2/3;

  @media ($viewport-desktop) {
    min-height: 34px;
  }
}

.product-card__price {
  grid-column: 2/3;

  @media ($viewport-desktop) {
    min-height: 35px;
  }
}

/* button */
.product-card li:nth-child(6) {
  padding-top: 17px;

  grid-column: 1/-1;

  @media ($viewport-tablet) {
    // padding-top: 32px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: end;
  }

  @media ($viewport-desktop) {
    padding-top: 32px;
  }
}

.product-card__button {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}
