.product-card {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(2, 140px);
}

.product-card__title-link {
  font-family: $seccond-font;
  font-size: 16px;
  line-height: 20px;

  text-decoration: none;
  color: #222222;
}

.product-card__price,
.product-card__description,
.product-card__weight {
  display: flex;
  justify-content: space-between;

  font-size: 12px;
  line-height: 16px;
  text-align: center;
}

.product-card li:nth-child(1) {
  grid-row: 1/5;
  grid-column: 1/2;
}

.product-card li:nth-child(2) {
  grid-row: 1/2;
  grid-column: 2/3;
}

.product-card li:nth-child(6) {
  grid-column: 1/-1;
}

.product-card__price {
  grid-column: 2/3;
}

.product-card__description {
  grid-column: 2/3;
}

.product-card__weight {
  grid-column: 2/3;
}

.product-card__button {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;

  @include basik-button ();
}
