.social-list {
  // min-height: 37px;
  width: 100%;
  height: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;

  align-items: center;

  @media ($viewport-tablet) {
    height: unset;
    width: unset;
  }
}


.social-list__link {
  display: flex;
  align-items: center;

  padding: 12px;
  color: #666666;
  fill: currentColor;
  transition: color linear 200ms;

  &:focus-visible {
    outline: none;
    color: $hover-event-color;
  }

  &:hover {
    color: $hover-event-color;
  }

  &:active {
    opacity: 0.3;
  }
}
