.stick-title {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;

  &::before {
    content: "";
    position: absolute;
    display: flex;
    top: 43%;
    right: 0;
    height: 2px;
    width: 100vw;

    background-color: #68b738;
  }
}

.stick-title__container {
  // border: 1px solid blackl;
  display: flex;


  @media ($viewport-tablet) {
    box-sizing: border-box;
    // align-self: center;
    padding: 0 30px;
    min-height: 32px;
  }

  @media ($viewport-desktop) {
    // min-height: 40px;
    width: clamp(768px, 100vw, calc($max-viewport-width + 80px));
    box-sizing: border-box;
    place-self: center center;
    padding: 0;
  }
}


.stick-title__text {
  position: relative;

  display: flex;
  align-items: center;
  box-sizing: border-box;
  // min-height: 86px;
  margin: 0;
  padding: 0 40px 0 20px;

  font-family: $seccond-font;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;
  background-color: #ffffff;

  @media ($viewport-tablet) {
    padding: 0 40px;
    min-height: 32px;

    font-size: 32px;
    line-height: 32px;
  }

  @media ($viewport-desktop) {
    min-height: 32px;
    padding: 0 40px;

    line-height: 40px;
    font-size: 40px;
  }
}
