.subscribe {
  padding: 15px 20px 40px;

  @media ($viewport-tablet) {
    padding: 80px 30px;
  }

  @media ($viewport-desktop) {
    padding: 96px 110px 104px;
  }
}

// .subscribe__title {
//   @include catalog__title;
// }

.subscribe__form {
  display: flex;
  flex-flow: column wrap;
  row-gap: 16px;

  @media ($viewport-tablet) {
    flex-flow: row wrap;
    row-gap: 24px;
    padding: 0 38px;
  }
}

.subscribe__label {
  box-sizing: border-box;
  width: 100%;
  min-height: 56px;

  font-family: $seccond-font;
  font-size: 16px;
  line-height: 24px;
  color: #000000;

  @media ($viewport-tablet) {
    text-align: center;
    font-size: 24px;
    line-height: 32px;
  }
}

.subscribe__input {
  box-sizing: border-box;
  flex-grow: 1;
  padding: 13px;
  height: 56px;

  font-family: $seccond-font;
  font-size: 20px;
  line-height: 30px;
  border: 1px solid #cdcdcd;
}

.subscribe__input::placeholder {
  font-family: $seccond-font;
  text-transform: uppercase;
  color: #444444;
}
// Invalid поиграться
.subscribe__input:placeholder-shown {
  border: 1px solid #cdcdcd;
}

.subscribe__button {
  flex-grow: 1;
  height: 56px;

  @media ($viewport-desktop) {
    max-width: 256px;
  }
}
